.board-show-main {
  display: flex;
  width: 100vw;
  height: 95vh;
}

.board-show-side {
  border-style: solid;
  border-width: 5px;
  border-color: #4c888a;
  width: 16%;
  height: 94vh;
  background-color: rgb(211, 238, 234);
}

.board-show-lists {
  background: image-url("bb.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative;
  width: 100vw;
  height: 95vh;
}

.collaborators {
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Patrick Hand', cursive;
  font-weight: bold;
  color: rgb(6, 67, 102);
}

.search-input {
  margin-left: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #7e8485;
  margin-bottom: 2px;
  height: 22px;
  width: 180px;
  font-family: 'Patrick Hand', cursive;
  border-radius: 3px;
}

.search-results {
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  position: absolute;
  margin-left: 10px;
}

.board-show-members {
  margin-left: 35px;
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  top: 90px;
  position: relative;
}

.board-show-members-2 {
  margin-left: 35px;
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  top: 20px;
  position: relative;
}

.board-member-delete {
  margin-left: 20px;
  font-size: 17px;
  color: rgb(124, 0, 0);
}

.board-member-delete:hover {
  color: rgb(170, 66, 66);
  text-decoration: underline;
}

.search-result-li {
  cursor: pointer;
  color: rgb(12, 11, 11);
}

.search-result-li:hover {
  color: rgb(109, 99, 99);
}

.board-show-heading {
  text-align: center;
  font-size: 40px;
  font-family: 'Rock Salt', cursive;
  color: #33595a;
  text-decoration: underline; 
  width: 33.3%;
 
}

.board-button-delete {
  font-size: 21px;
  margin-left: 12px;
  margin-top: 12px;
  border-style: solid;
  border-width: 2px;
  border-color: #7e8485;
  background-color: rgb(214, 132, 132);
  border-radius: 4px;
  padding: 3px 6px;
  font-family: sans-serif;
  color: #941f01;
  border-color: #8a1c01;
  font-weight: bold;
}

.board-button-delete:hover {
   background-color: rgb(207, 157, 157);
}

.add-list {
  font-size: 21px;
  margin-left: 12px;
  margin-right: 15px;
  margin-top: 19px;
  border-style: solid;
  border-width: 2px;
  border-color: #7e8485;
  background-color: rgb(80, 182, 165);
  border-radius: 4px;
  padding: 3px 6px;
  font-family: sans-serif;
  color: #22123f;
  border-color: #8a1c01;
  font-weight: bold;
}

.add-list:hover {
  background-color: rgb(155, 184, 179);
}

.board-show-outer {
  display: flex;
  justify-content: space-evenly;
}

.board-show-form {
  width: 33.3%;
}
.board-show-empty {
  width: 33.3%;
}

.board-show-list-input {
  font-family: 'Patrick Hand', cursive;
  height: 35px;
  width: 200px;
  background-color: rgb(168, 194, 187);
  border-radius: 4px;
  padding-left: 5px;  
  border-color: rgb(36, 34, 34);
}

.list-index-box {
  margin-left: 30px;
  width: 285px;
  height: auto;
  background-color: rgb(211, 223, 220);
  border-radius: 5px;
}

.list-index-item {
  font-size: 33px;
  margin-left: 10px;
  font-weight: bold;
  font-family: 'Patrick Hand', cursive;
}

.list-index-list {
  display: flex;
  justify-content: left;
}

.list-index-button {
  margin-left: 32px;
  justify-content: right;
  margin-bottom: 5px;
  color: rgb(187, 5, 5);
  font-weight: bold;
  font-family: 'Source Serif Pro', serif;
  font-size: 15px;
}

.list-index-button:hover  {
  color: rgb(167, 121, 121);
  text-decoration: underline;
}

.modal-form-card {
  height: 80vh;
  width: 40vw;
  background-color: rgb(244, 247, 248);
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(70, 171, 175);
  border-radius: 10px;
}

.modal-child-1 {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -35%);
}

.modal-form-card-div {
  width: 35vw;
  height: 70vh;
  position: relative;
  left: 6%;
}

.top-level-div {
  text-align: left;
  width: 230px;
}

.modal-form-top-part {
  display: flex;
  width: 70vw;
}

.modal-form-card h3 {
   text-align: left;
   padding-left: 14px;
   font-family: 'Fredoka One', cursive;
   font-size: 25px;
   margin-bottom: 25px;
   color: rgb(59, 100, 136);
}

.modal-card-name {
  display: flex;
  width: 230px;
  height: 30px;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  font-family: 'Patrick Hand', cursive;
  background-color: white;
  padding-left: 5px;
}

.modal-card-name-input {
  display: block;
  width: 100%;
}

.members-label {
  text-align: left; 
}

.members-head {
  font-size: 20px;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
  color: rgb(71, 32, 109);
}

.members {
  display: block;
  margin-top: 1%;
}

.members-label {
  margin-top: 1.5%;
}

.due-date-label {
  display: flex;
  width: 30%;
  margin-top: 2%;
}

.due-date {
  margin-top: 1%;
  font-size: 20px;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
  margin-right: 7%;
}

.modal-card-duedate {
  width: 150px;
  display: block;
  font-size: 18px;
  font-family: 'Patrick Hand', cursive;
}

.description {
  display: block;
}

.description-1 {
  margin-top: 4%;
  display: block;
  text-align: left;
  font-size: 23px;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
}

.modal-card-description {
  display: block;
  text-align: left;
  margin-top: 2.5%;
  font-family: 'Patrick Hand', cursive;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  height: 30px;
  width: 330px;
  padding-left: 5px;
  background-color: white;
}

.comments {
  display: block;
  text-align: left;
  margin-top: 3%;
}

.comment {
  display: block;
  text-align: left;
  font-size: 23px;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
}

.textarea-create {
  margin-top: 4%;
  height: 20vh;
  width: 100%;
  background-color: white;
  font-family: 'Patrick Hand', cursive; 
  padding-left: 5px;
}

.modal-create-card {
  width: 140px;
    height: 28px;
    background: #5AAC44;
    padding: 8px 50px;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 2%;
    font-family: sans-serif;
}

.modal-create-card:hover {
   background: rgb(143, 180, 133);
}

.card-index-create {
   width: 60%;
   display: flex;
    height: 30px;
    text-align: center; 
    border-radius: 8px;
    color: rgb(146, 143, 143);
    font-weight: bold;
    margin-right: 5px;
    font-family: sans-serif;
    margin-left: 3%;
}

.card-index-create:hover {
   color: rgb(107, 103, 103);
}

.delete-card {
  margin-left: 5%;
  justify-content: right;
  color: rgb(187, 5, 5);
  font-weight: bold;
  font-family: 'Source Serif Pro', serif;
  font-size: 15px;
  border-style: solid;
  border-width: 1px;
  margin-right: 1%;
}

.delete-card:hover {
  color: rgb(167, 121, 121);
  text-decoration: underline;
}

.modal-card-description-1 {
  display: block;
  text-align: left;
  margin-top: 2.5%;
  font-family: 'Patrick Hand', cursive;
  height: 30px;
  width: 330px;
  padding-left: 5px;
}

.top-level-div-1 {
  display: flex;
  width: 230px;
} 

.due-date-1 {
  margin-top: 1%;
  font-size: 20px;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
  width: 90%;
  margin-left: 0%;
}

.due-date-label-1 {
  display: block;
  margin-left: 15%;
  width: 90%;
  margin-top: 1%;
}


.due-date-p {
  width: 150px;
  display: block;
  font-size: 18px;
  font-family: 'Patrick Hand', cursive;
  margin-left: 40%;
}

.members-head-1 {
  font-size: 20px;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
  color: rgb(71, 32, 109);
  margin-top: 1%;
}

.description-2 {
  margin-top: 6%;
  display: block;
  text-align: left;
  font-size: 23px;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
}


.edit-card-button {
   width: 220px;
    height: 38px;
    background: rgb(207, 204, 200);
    text-align: left;
    border-radius: 5px;
    padding-left: 3%;
    color: rgb(61, 59, 59);
    font-weight: bold;
    margin-left: 2%;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    margin-top: 1%;
    margin-bottom: 2%;
}

.edit-card-button:hover {
  background: rgb(184, 180, 177);
}

.join-card {
    margin-left: 3%;
    margin-bottom: 5px;
    color: #bb0505;
    font-weight: bold;
    font-family: 'Source Serif Pro', serif;
    font-size: 15px;
}

.join-card:hover {
  color: #b14b4b;
  text-decoration: underline;
}

.card-users {
  display: flex;
}

.card-user {
  font-size: 15px;
  font-family: 'Patrick Hand', cursive;
  margin-left: 1%;
}

.description-2 {
  margin-top: 2%;
  display: block;
  text-align: left;
  font-size: 23px;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
}


.checklist-heading {
  display: flex;
  margin-top: 2%;
  font-size: 22px;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
}

.checklist-input {
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  background-color: white;
  height: 23px;
  margin-top: 5%;
  width: 300px;
  font-family: 'Patrick Hand', cursive;
}

.checklist-ul {
  display: flex;
  height: 60px;
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: left;
  width: 200px;

  li {
     padding-right: 15px;
     font-family: 'Patrick Hand', cursive;
  }
}

.checklist-input-add {
  display: flex;
}

.checklist-add-button {
  height: 23px;
  padding: 0px 5px;
  font-size: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #7e8485;
  background-color: rgb(80, 182, 165);
  border-radius: 4px;
  font-family: sans-serif;
  color: #12313f;
  border-color: #411004;
  font-weight: bold;
  margin-top: 5%;
  margin-left: 10%;
}

.checklist-add-button:hover {
  background-color: rgb(170, 197, 193);
}

.delete-checklist-button {
  margin-left: 10px;
  color: #bb0505;
  font-weight: bold;
  font-family: 'Source Serif Pro', serif;
  font-size: 13px;
}

.delete-checklist-button:hover {
  text-decoration: underline;
  color: #cf8888;
}

.due-date-label-2 {
  display: block;
  margin-left: 15%;
  width: 90%;
  margin-top: 1%;
}

.due-date-2 {
  margin-top: 1%;
  font-size: 20px;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
  width: 90%;
  margin-left: 46%;
}

.modal-create-card-0 {
   width: 140px;
    height: 28px;
    background: #5AAC44;
    padding: 8px 50px;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 12%;
    font-family: sans-serif;
}

.modal-create-card-0:hover {
   background: rgb(143, 180, 133);
}

.description-3 {
  margin-top: 6%;
  display: block;
  text-align: left;
  font-size: 23px;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
}

.modal-create-card-2 {
   width: 140px;
    height: 28px;
    background: #5AAC44;
    padding: 8px 50px;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 10%;
    font-family: sans-serif;
}

.modal-create-card-2:hover {
   background: rgb(143, 180, 133);
}

.created-boards-index-show {
  display: flex;
}

.board-index-edit-button {
  margin-left: 50%;
  margin-top: 20%;
  color: #0c506b;
  font-weight: bold;
  font-family: 'Source Serif Pro', serif;
  font-size: 15px;
}

.board-index-edit-button:hover {
   color: #488da8;
   text-decoration: underline;
}










