.board-show-main {
  display: flex;
  width: 100vw;
  height: 95vh;
}

.board-show-side {
  border-style: solid;
  border-width: 5px;
  border-color: #4c888a;
  width: 16%;
  height: 94vh;
  background-color: rgb(211, 238, 234);
}

.board-show-lists {
  background: image-url("bb.jpg") no-repeat;
  background-size: 100% 100%;
  position: relative;
  width: 100vw;
  height: 95vh;
}

.collaborators {
  font-size: 25px;
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Patrick Hand', cursive;
  font-weight: bold;
  color: rgb(6, 67, 102);
}

.search-input {
  margin-left: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #7e8485;
  margin-bottom: 2px;
  height: 22px;
  width: 180px;
  font-family: 'Patrick Hand', cursive;
  border-radius: 3px;
}

.search-results {
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  position: absolute;
  margin-left: 10px;
}

.board-show-members {
  margin-left: 35px;
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  top: 90px;
  position: relative;
}

.board-show-members-2 {
  margin-left: 35px;
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
  top: 20px;
  position: relative;
}

.board-member-delete {
  margin-left: 20px;
  font-size: 17px;
  color: rgb(124, 0, 0);
}

.board-member-delete:hover {
  color: rgb(170, 66, 66);
  text-decoration: underline;
}

.search-result-li {
  cursor: pointer;
  color: rgb(12, 11, 11);
}

.search-result-li:hover {
  color: rgb(109, 99, 99);
}

.board-show-heading {
  text-align: center;
  font-size: 40px;
  font-family: 'Rock Salt', cursive;
  color: #33595a;
  text-decoration: underline; 
  width: 33.3%;
 
}

.board-button-delete {
  font-size: 21px;
  margin-left: 12px;
  margin-top: 12px;
  border-style: solid;
  border-width: 2px;
  border-color: #7e8485;
  background-color: rgb(214, 132, 132);
  border-radius: 4px;
  padding: 3px 6px;
  font-family: sans-serif;
  color: #941f01;
  border-color: #8a1c01;
  font-weight: bold;
}

.board-button-delete:hover {
   background-color: rgb(207, 157, 157);
}

.add-list {
  font-size: 21px;
  margin-left: 12px;
  margin-right: 15px;
  margin-top: 19px;
  border-style: solid;
  border-width: 2px;
  border-color: #7e8485;
  background-color: rgb(80, 182, 165);
  border-radius: 4px;
  padding: 3px 6px;
  font-family: sans-serif;
  color: #22123f;
  border-color: #8a1c01;
  font-weight: bold;
}

.add-list:hover {
  background-color: rgb(155, 184, 179);
}

.board-show-outer {
  display: flex;
  justify-content: space-evenly;
}

.board-show-form {
  width: 33.3%;
}
.board-show-empty {
  width: 33.3%;
}

.board-show-list-input {
  font-family: 'Patrick Hand', cursive;
  height: 35px;
  width: 200px;
  background-color: rgb(168, 194, 187);
  border-radius: 4px;
  padding-left: 5px;  
  border-color: rgb(36, 34, 34);
}

.list-index-box {
  margin-left: 30px;
  width: 265px;
  height: 120px;
  background-color: rgb(211, 223, 220);
  border-radius: 5px;
}

.list-index-item {
  font-size: 33px;
  margin-left: 10px;
  font-weight: bold;
  font-family: 'Patrick Hand', cursive;
}

.list-index-list {
  display: flex;
  justify-content: left;
}

.list-index-button {
  margin-left: 32px;
  justify-content: right;
  margin-bottom: 5px;
  color: rgb(187, 5, 5);
  font-weight: bold;
  font-family: 'Source Serif Pro', serif;
  font-size: 15px;
}

.list-index-button:hover  {
  color: rgb(167, 121, 121);
  text-decoration: underline;
}




