.div {
  width: 100vw;
  height: 100vh;

}

.board-index {
  display: flex;
  width: 100vw;
  min-height: 92vh;
  // background: image-url("background-image-index.png") no-repeat; 
  // background-size: 100% 100%;
}

.board-index-t {
  position: absolute;
  width: 100vw;
  min-height: 92vh;
  background: image-url("background-image-index.png") no-repeat; 
  background-size: 100% 100%;
  z-index: -1;
  opacity: .5;
}


.board-index div {
  flex: 25%;
}

.board-heading {
  margin-top: 10px;
  font-size: 30px;
  margin-bottom: 13px;
  font-family: 'Roboto', sans-serif;
  margin-left: 9%;
}

.board-index-list {
  width: 50px; 
}

.board-index-item {
  margin-top: 25px;
  margin-left: -14px;
  margin-bottom: 5%;
  border-style: solid;
  border-width: 2.5px;
  width: 230px;
  height: 100%;
  border-radius: 6px;
  text-align: center;
  border-color: rgb(27, 86, 97);
  background: image-url("checklist.png") no-repeat;
  background-size: 100% 100%;
}

.board-index-item:hover {
  padding: 1px;
}

.joined-boards {
  margin-right: 200px;
}

.board-index-project {
  font-size: 21px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-top: 2%;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;  
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-form {
  display: flex;
  flex-direction: column;
  height: 380px;
  width: 350px;
  background-color: aliceblue;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(62, 173, 177);
}

.close-x {
   position: absolute;
   top: 5px;
   right: 5px;
   cursor: pointer;
 }

 .modal-project-name {
  padding: 10px;
  width: 75%;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(156, 155, 158);
  font-family: 'Roboto', sans-serif;
 }

 .modal-form h3 {
   padding: 20px;
   font-family: 'Roboto', sans-serif;
   font-size: 25px;
   margin-bottom: 20px;
   color: rgb(57, 156, 160);
   text-decoration: underline;
 }


 .modal-create-board {
    width: 140px;
    height: 28px;
    background: #5AAC44;
    padding: 8px 50px;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 65px;
    font-family: 'Roboto', sans-serif;
 }

 .modal-create-board:hover {
   background: rgb(125, 179, 110);
}

.board-index-create {
    display: inline-block;
    width: 110px;
    height: 15px;
    background: #abadad;
    padding: 12px 9px;
    text-align: center;
    border-radius: 5px;
    color: rgb(253, 252, 252);
    font-weight: bold;
    border: 0px solid #2597a8;
    margin-left: 2%;
    margin-top: 3%;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}


.board-index-create:hover {
  background: #9da0a0;
  color: rgb(100, 112, 163);
}

.session-errors-1 {
   font-size: 20px;
   color: crimson;
   height: 25px;
   margin-bottom: 25px;
 }

 .board-index-link {
   height: 170px;
   margin-bottom: 40px;
 }

 .board-index-list-1 {
  width: 50px;
  margin-left: 23px;
}



@media only screen and (min-width: 2200px) { 

.created-boards {
  position: relative;
  top: 70px;
  right: 85px;
}

.joined-boards {
  position: relative;
  top: 70px;
  right: 40px;
 }

 .board-heading {
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 13px;
    font-family: 'Roboto', sans-serif;
    margin-left: 4%;
    width: 200px;
 }

 .board-index-create {
    display: inline-block;
    width: 130px;
    height: 15px;
    background: #0d9abd;
    padding: 13px 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 0px solid #2597a8;
    margin-left: 2%;
    margin-top: 0%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
}



@media only screen and (max-width: 550px) {

 .board-index-create {
    display: inline-block;
    width: 100px;
    height: 15px;
    background: #0d9abd;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 0px solid #2597a8;
    margin-left: 5%;
    margin-top: 3%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.board-index-item {
    margin-top: 10px;
    margin-left: -14px;
    margin-bottom: 0%;
    border-style: solid;
    border-width: 2.5px;
    width: 100px;
    height: 80%;
    border-radius: 6px;
    text-align: center;
    border-color: #1b5661;
    background: image-url("checklist.png") no-repeat;
    background-size: 100% 100%;
}

  .board-index-link {
    height: 170px;
    margin-bottom: 20px;
}

.board-create {
  height: fit-content;
}

.created-boards {
  position: relative;
  top: 70px;
  right: 85px;
}

.board-heading {
    margin-top: 10px;
    font-size: 17px;
    margin-bottom: 13px;
    font-family: 'Roboto', sans-serif;
    margin-left: 3%;
    width: 110px;
}


.joined-boards {
  position: relative;
  top: 70px;
  right: 40px;
 }
  
}

