.main-div {
    width: 60%;
  }

.empty-div {
  width: 20%;
}

.greet-div {
  display: flex;
  width: 20%;
}

.header {
  background:rgb(111, 214, 218);
  color: rgb(221, 235, 234);
  width: 100vw;
  height: 51px;
  display: flex;
  justify-content: space-evenly;
}

.main-nav {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding-right: 15px;
  font-family: 'Rock Salt', cursive;
  position: relative;
  top: -17px;
  
}

div .login-signup {
  height: 100%;
  font-size: 19px;
  display: flex;
  padding-left: 17%;
}

.greeting-front {
  height: 100%;
}

.auth-link {
  display: block;
    width: 100px;
    height: 17px;
    background: rgb(13, 154, 189);
    padding: 10px;
    padding-top: 8px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 2px solid rgb(37, 151, 168);
    margin-right: 5px;
    margin-top: 5px;
    font-family: sans-serif;
}

.auth-link:hover {
  background: rgb(58, 176, 206);
  padding: 9px 10px;
}

.greeting-front {
  display: flex;
}

.logged-in {
  font-size: 29px;
  margin-top: 6px;
  padding-left: 15px;
  padding-right: 35px;
  font-family: 'Patrick Hand', cursive;
}

.greeting-logout {
  display: block;
    width: 100px;
    height: 17px;
    background: rgb(13, 154, 189);
    padding: 10px;
    padding-top: 8px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 2px solid rgb(37, 151, 168);
    margin-left: 5px;
    margin-top: 6px;
    font-family: sans-serif;
    font-size: 19px;
}

.greeting-logout:hover {
   background: rgb(24, 172, 209);
   border: 3px solid rgb(70, 170, 185);
}

.main-page-all {
  display: flex;
  width: 100vw;
  height: 640px;
  background-color: rgb(111, 214, 218);
}

.main-page-all div {
  flex: 25%;
  height: 78%;
}


.main-page-right {
  background: image-url("Collaboration-2.jpg") no-repeat;
  background-size: 100% 100%;
  border-radius: 20px 20px 20px 20px;
  position: relative;
  left: 990px;
  top: 33px;
}

.main-page-middle {
  position: relative;
  right: 480px;
  bottom: -100px;
}

.main-signup-button {
  width: 130px;
  display: inline-block;
    height: 30px;
    background: #5AAC44;
    padding: 5px 0px;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-left: 240px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 17px;
}

.main-signup-button:hover {
  background: rgb(114, 182, 95);
  padding: 5.5px 0px;
}

.p1 {
  font-size: 45px;
  color: rgb(242, 246, 246);
  font-weight: bold;
  margin: 5px;
  line-height: 55px;
}

.p2 {
  font-size: 27px;
  color: rgb(242, 246, 246);
  font-weight: bold;
  margin: 5px;
  line-height: 55px;
}




