.main-div {
    width: 60%;
  }

.empty-div {
  width: 20%;
}

.greet-div {
  display: flex;
  width: 20%;
}

.header {
  background:rgb(99, 198, 231);
  color: rgb(221, 235, 234);
  border-bottom: 1px solid #ccc;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.main-nav {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
}

div .login-signup {
  border-left: 1px solid #ccc;
  height: 100%;
  font-size: 19px;
  display: flex;
  padding-left: 17%;
}

.greeting-front {
  border-left: 1px solid #ccc;
  height: 100%;
}

.auth-link {
  display: block;
    width: 100px;
    height: 17px;
    background: rgb(13, 154, 189);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 2px solid rgb(37, 151, 168);
    margin-right: 5px;
    margin-top: 5px;
}



