.main-div {
    width: 20%;
  }

.empty-div {
  width: 30%;
}

.greet-div {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.header {
  background:rgb(111, 214, 218);
  color: rgb(254, 255, 255);
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: space-evenly;
}

.main-nav {
  margin-left: 6%;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Rock Salt', cursive;
  position: relative;
  top: -5px;
  width: 90px;
  cursor: pointer;
  
}

div .login-signup {
  height: 100%;
  font-size: 19px;
  display: flex;
  padding-left: 17%;
}

.greeting-front {
  height: 100%;
}

.auth-link {
  display: block;
    width: 100px;
    height: 17px;
    background: rgb(13, 154, 189);
    padding: 10px;
    padding-top: 8px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 12px;
    font-family: sans-serif;
}

.auth-link:hover {
  background: rgb(58, 176, 206);
}

.greeting-front {
  display: flex;
}

.logged-in {
  font-size: 27px;
  margin-top: 4%;
  margin-right: 25px;
  font-family: 'Patrick Hand', cursive;
  height: 8vh;
}

.greeting-logout {
  display: block;
    width: 100px;
    height: 17px;
    background: rgb(13, 154, 189);
    padding: 10px;
    padding-top: 8px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 4%;
    font-family: sans-serif;
    font-size: 19px;
    margin-right: 30px;

}

.greeting-logout:hover {
   background: rgb(24, 172, 209);
}

.main-page-all {
  display: flex;
  width: 100vw;
  height: 71vh;
  background-color: rgb(111, 214, 218);
}

.main-page-left {
  margin-top: 7%;
  margin-left: 5%;
}

.main-page-right {
  width: 73%;
  height: 61%;
  background: image-url("Collaboration-2.jpg") no-repeat;
  background-size: 100% 100%;
  border-radius: 20px 20px 20px 20px;
  position: relative;
  margin-top: 7%;
  margin-right: 12%;
}


.main-signup-button {
  width: 130px;
  display: inline-block;
    height: 30px;
    background: #5AAC44;
    padding: 5px 0px;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-left: 240px;
    margin-top: 7%;
    font-family: sans-serif;
    font-size: 17px;
}

.main-signup-button:hover {
  background: rgb(114, 182, 95);
}

.p1 {
  font-size: 39px;
  color: rgb(253, 253, 253);
  font-weight: bold;
  margin-left: 12%;
  line-height: 50px;
  font-family: "Charlie Text",sans-serif;
  width: 65%;
}

.p2 {
  font-size: 22px;
  color: rgb(255, 255, 255);
  margin-left: 12%;
  line-height: 50px;
  font-family: "Charlie Text",sans-serif;
  width: 60%;
}

.copyright {
  position: absolute;
  top: 91%;
  left: 40%;
  font-size: 20px;
}

.company-name {
  position: absolute;
  top: 82%;
  left: 48%;
  font-size: 25px;
  font-family: 'Rock Salt', cursive;
}

.github {
  position: absolute;
  top: 96%;
  left: 48%;
  color: rgb(45, 45, 230); 
  font-size: 17px;
}

.github:hover {
  text-decoration: underline;
}