.login-form-all h2 {
    display: block;
    text-align: center;
    color: rgb(111, 214, 218);
    font-weight: bold;
    font-size: 35px;
    height: 8.5vh;
    position: relative;
    top: 0px;
    font-family: 'Rock Salt', cursive;
  }

.main-h2 {
  position: relative;
  margin: auto;
  width: 90px;
}

.main-h2:hover {
  cursor: pointer;
}
 
.login-form-all {
  text-align: center;
  display: block;
  background: #F9FAFC;
  height: 100vh;
}

.login-form-form {
    display: inline-block;
    width: 27vw;
    height: 49vh;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
    padding: 0px 10px;
    margin-bottom: 7px;
    padding-top: 10px;
    margin-top: 2%;
}

.login-form {
  font-family: sans-serif;
}

.session-div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 5px;
  font-family: sans-serif;
  font-weight: bold;
  color: rgb(95, 93, 93);
}

.session-link { 
  padding-left: 7px;
  color: rgb(47, 47, 236);
  font-family: sans-serif;
}
 .session-link:hover {
   text-decoration: underline;
 }

 .session-errors {
   font-size: 20px;
   color: crimson;
   left: 44%;
 }

 .session-button {
    width: 140px;
    height: 28px;
    background: #5AAC44;
    padding: 8px 50px;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 12px;
    font-family: sans-serif;
    font-size: 20px;
 }

.login-input {
  width: 80%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid rgb(189, 181, 181);
  height: 50px;
  margin-bottom: 25px;
  padding-top: 0px;
  font-family: sans-serif;
  font-size: 19px;
}

.session-button:hover {
   background: rgb(125, 179, 110);
}

.session-demo {
  margin-top: 7%;
  color: rgb(47, 47, 236);
  font-family: sans-serif;
  font-size: 18px;
}

.hr {
  width: 80%;
  margin-top: 9%;
}

.session-demo:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-container {
  display: flex;
  width: 100vw;
  height: 30vh;
  margin-top: 1%;
}

.footer-container div {
  flex: 25%;
  height: 100%;
}

.left-image {
  background: image-url("left.jpg") no-repeat;
  background-size: 90% 100%;
  border-radius: 35px;
  margin-left: 2%;
  margin-top: 30px;
}

.right-image {
  background: image-url("right.jpg") no-repeat;
  background-size: 90% 100%;
  border-radius: 35px;
  margin-right: 2px;
}



@media only screen and (min-width: 2200px) { 
   .session-button {
    width: 200px;
    height: 24px;
    background: #5AAC44;
    padding: 8px 40px;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 12px;
    font-family: sans-serif;
    font-size: 21px;
 }
}



@media only screen and (max-width: 550px) {

  .main-h2 {
    position: relative;
    margin: auto;
    width: 90px; 
    font-size: 30px;
  }

  .session-button {
    width: 100px;
    height: 21px;
    background: #5AAC44;
    padding: 8px 38px;
    text-align: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-right: 5px;
    margin-top: 12px;
    font-family: sans-serif;
    font-size: 17px;
}
  
  
  .login-form-form {
    display: inline-block;
    width: 68vw;
    height: 58vh;
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
    padding: 0px 10px;
    margin-bottom: 7px;
    padding-top: 10px;
    margin-top: 3%;
  }
}
